body.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $bodyMargin!important;
  main {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 60vh;
    h1 {
      font-size: $domaine-1;
      font-family: "Domaine";
      text-transform: none;
      margin-bottom: 0px!important;
      padding-top: $size-9;
    }
  }

  footer {

  }
}
