@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}

* {
  margin: 0;
  padding: 0;
  //transition: all 0.5s ease;
}


html {
  font-size: 12.5px!important;
  line-height: 140%;
  //scroll-behavior: smooth;
  //width: 100vw;
  //overflow-x: hidden;
  @include for-size(tablet-portrait-up) {
    font-size: 13px!important;
  }
  @include for-size(tablet-landscape-up) {
    font-size: 14px!important;
  }
  @include for-size(desktop-up) {
    font-size: 14.5px!important;
  }
  @include for-size(big-desktop-up) {
    font-size: 17px!important;
  }
}


body {
  width: 100vw;
  font-family: "Haptik"!important;
  font-weight: 400;
  padding: $size-11 0 $size-8;
  @include for-size(tablet-portrait-up) {
    padding: $size-12 0 $size-8;
  }
  &.legacy-user {
    padding-top: $size-8;
  }
}

.browser-measure {
  width: 0px;
  height: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
}

header {
  position: fixed;
  padding: $size-3;
  top: 0;
  left: 0;
  text-align: left;
  line-height: $size-6;
  width: 100%;
  background-color: $haldi-white;
  z-index: 99;
  border-bottom: 1px solid $haldi-black-20;
  @include for-size(tablet-landscape-up) {
    left: $bodyMargin;
    top: $bodyMargin;
    padding: 0px;
    border-bottom: 0px;
    background-color: inherit;
    display: inline-block;
    width: auto;
  }
  .site-title {
    margin-bottom: 0px!important;
    text-align: left;
    .haldi-logo {
      width: auto;
      height: $size-6;
      @include for-size(tablet-landscape-up) {
        height: $size-7;
      }
      &.light {
        @include for-size(tablet-landscape-up) {
          #letters {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  -webkit-opacity: 0;
}

.fade-in {
  opacity: 0;
  -webkit-opacity: 0;
  transition: all .5s!important;
  &.visible {
    opacity: 1;
    -webkit-opacity: 1;
  }
}

.content-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1060px;
  //max-width: 1200px;
  padding: 0 $size-5;
  @include for-size(tablet-landscape-up) {
    padding: 0 $size-9;
  }
  @include for-size(big-desktop-up) {
    max-width: 1200px;
  }
}

.grid {
    display: grid;
    grid-gap: $gridGap;
    column-count: 12;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
  }

.wrapper {
  padding: $size-9 $size-5;
  width: 100vw!important;
  max-width: 100vw!important;
  left:0;
  margin: 0;
  @include for-size(tablet-portrait-up) {
      margin: 0 0!important;
      padding: $size-9 $bodyMargin;
  }
  &.no-recs {
    padding-top: 0;
  }
}

.post-body {
  /*margin-top: $size-11;*/
}

h1 {
  margin: 0 0 $size-9 0!important;
  @include for-size(tablet-portrait-up) {
    margin: 0 0 $size-9 0!important;
  }
}


// Page content
.post-body {
  h4 {
    grid-column: 1 / 13;
    text-align: center;
    font-family: "Haptik";
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: $haptik-5;
    font-weight: 800;
    margin-bottom: $size-5;
    @include for-size(tablet-portrait-up) {
      margin-bottom: $size-8;
    }
  }

  .coach-note {
    background-color: $haldi-yellow;
    font-size: $haptik-3!important;
    grid-column: 1 / 13;
    text-align: left;
    //padding: $size-5 $size-8 $size-8 $size-8;
    padding: $size-6;
    margin-bottom: $size-6;
    position: relative;
    /*&::before {
      content: "coach's note";
      color: $haldi-white;
      font-family: "Haptik";
      text-transform: uppercase;
      text-align: center;
      display: block;
      font-size: $haptik-4;
      margin-bottom: $size-5;
    }*/
    /*&::after {
      content: "Simran";
      font-family: "Backlash";
      color: $haldi-black;
      position: absolute;
      bottom: -12px;
      right: $size-2;
      line-height: 24px;
      font-size: 7rem;
      @include for-size(tablet-portrait-up) {
        font-size: 9rem;
      }
    }*/
  }

  .skin-profile {
    table-layout:fixed;
    &:nth-of-type(1) {
      margin-bottom: $size-6;
      &::after {
        display: none!important;
      }
      td {
        display: none;
        &:nth-of-type(-n+3){
          display: table-cell;
        }
        &:nth-of-type(3){
          border-right: 0px!important;
          @include for-size(tablet-portrait-up) {
            border-right: 1px solid $haldi-black-20!important;
          }
        }
      }
    }
    &:nth-of-type(2) {
      width: 66%;
      margin-left: auto;
      margin-right: auto;
      td {
        display: none;
        &:not(:nth-of-type(-n+3)){
          display: table-cell;
        }
      }
    }
  }

  .skin-profile {
    grid-column: 1 / 13;
    border-spacing: $size-9;
    position: relative;
    margin-bottom: calc(#{$size-8} *2);
    @include for-size(tablet-portrait-up) {
      margin-bottom: $size-9!important;
      &:nth-of-type(2) {
        display: none;
      }
    }
    &::after {
      content: "";
      display: block!important;
      height: 2px;
      width: 200vw;
      margin-left: -100vw;
      background-color: $haldi-black-20;
      position: absolute;
      bottom: calc(#{$size-7} *-1);
      @include for-size(tablet-portrait-up) {
        bottom: calc(#{$size-9} *-1)!important;
      }
    }

      &::after {
        @include for-size(tablet-portrait-up) {
          display: block!important;
        }
      }
    tbody {
      height: $size-11;
      tr {
        font-family: "Domaine";
        font-size: $domaine-3;
        height: auto;
      }
      tr:first-of-type {
        font-size: $haptik-4;
        font-family: "Haptik";
        font-weight: 800;
      }
      td {
        text-align: center;
        padding: 0 $size-1;
        @include for-size(tablet-portrait-up) {
          display: table-cell!important;
        }
        &:not(:last-of-type) {
          border-right: 1px solid $haldi-black-20!important;
        }
      }
    }
  }

  .ingredient-offender {
    display: inline-block;
    padding: $size--2 $size--1;
    background-color: rgba(255,60,4,.6); // rgba(243,91,4,.8)
    color: $haldi-white;
    font-size: $haptik-2;
    border-radius: 8px;
    margin-top: $size-3;

  }

.consider-adding, .consider-switching {
  &::after {
    font-family: "Domaine";
    color: $haldi-black;
    text-align: center;
    text-transform: none;
    font-weight: 300;
    font-size: $domaine-3;
    display: block;
    position: relative;
    margin: auto;
    margin-top: $size-1;
    max-width: $size-15;
    //padding: 0 $size-10;
  }
}
.consider-adding::after {
  content: "Our algorithm analyzed your products for Ingredient Offenders, ingredients doing more harm than good to your skin.";
}
.consider-switching::after {
  content: "Our algorithm analyzed your products for Ingredient Offenders, ingredients doing more harm than good to your skin.";
}

  table:not(.skin-profile) {
    //border: $size-5 solid $haldi-blush;
    grid-column: 1 / 13;
    margin-bottom: $size-3;
    table-layout:fixed;
    display: block!important;
    //display: block;
    //background-color: $haldi-blush;
    @include for-size(tablet-portrait-up) {
      margin-bottom: $size-7;
      display: table!important;
    }
    &:last-of-type {
      margin-bottom: $size-9;
    }
    tr {
      display: block;
      @include for-size(tablet-portrait-up) {
        display: table-row;
      }
      td {
        font-family: "Domaine";
        font-size: $domaine-3;
        vertical-align: top;
        padding-bottom: $size-1;
        padding-top: $size-2;
        display: block;
        @include for-size(tablet-portrait-up) {
          padding-top: 0;
          //width: 66%;
          display: table-cell;
        }
      }
      td:first-of-type {
        font-family: "Haptik";
        font-size: $haptik-3;
        font-weight: 300;
        padding-right: $size-3;
        br {
          display: none;
        }
        strong {
        font-size: $haptik-4;
        font-weight: 800;
        display: inline;
        border-bottom: 2px solid $haldi-black;
        padding-bottom: .2rem;
        margin-bottom: $size-3;
        &::after {
          content:'';
          position: relative;
          display: block;
          height: $size-1;
        }
        }
        @include for-size(tablet-portrait-up) {
        //  width: 33%;
        }
      }
    }
  }
}

.wrapper-next {
  background-color: $haldi-black;
  color: $haldi-white;
  .whats-next {
    grid-column: 1 / 13;
    margin-bottom: $size-9;
    .grid {
      grid-template-columns: 1fr;
      display: flex!important;
      flex-direction: column;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      .statement {
        grid-row-start: 1!important;
        text-align: center;
        &:focus {
          outline: none;
        }
        @include for-size(tablet-portrait-up) {
          width: 30%;
        }
        .icon-wrapper {
          height: $size-6;
          width: $size-6;
          margin-bottom: $size-6;
          display: inline-block;
          .icon {
            width: 100%;
            height: auto;
          }
        }
        p {
          font-family: "Domaine";
          font-size: $domaine-3;
        }
      }
    }
  }
}

.wrapper-recommend {
  background-color: $haldi-blush;
  padding: $size-9 0;
  @include for-size(tablet-landscape-up) {
    padding: $size-9 $size-5;
  }
  .recommended-products {
    width: 100%;
    position: relative;
    .grid {
      row-gap: 0px;
      display: flex;
      flex-direction: column;
      position: relative;
      border-top: 2px solid $haldi-black-20;
      padding: $size-4 0;
      @include for-size(tablet-portrait-up) {
        display: grid;
        padding: 0;
        border: 0px;
        padding: 0 $size-4;
      }
      .product-meta-line {
        width: 2px;
        height: 100%;
        display: none;
        background-color: $haldi-black-20;
        margin: auto;
        top: 0px;
        display: none;
        @include for-size(tablet-portrait-up) {
          display: block;
          grid-column: 3 / 4;
        }
      }
    .product-meta {
        grid-column: 1 / 13;
        position: absolute;
        @include for-size(tablet-portrait-up) {
          grid-column: 1 / 3;
          position: relative;
        }
        &::after {
          content: '';
          width: 2px;
          height: 100%;
          display: none;
          background-color: $haldi-black-20;
          position: absolute;
          top: 0px;
          right: calc(#{$gridGap} * -.5);
          @include for-size(tablet-portrait-up) {
            display: none;
          }
        }
        .product-function {
          font-size: $haptik-4;
          font-weight: 800;
          color: $haldi-black;
          margin-bottom: $size-2;
        }
        .product-solves-for {
          font-size: $haptik-3;
          .title {
            display: block;
            margin-bottom: $size-2;
          }
          span {
            background-color: $haldi-black-40;
            padding: 1px 2px;
            color: $haldi-white;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
          }
        }
      }
      // .product-image-hr {
      //   margin-bottom: $size-4;
      //   @include for-size(tablet-portrait-up) {
      //     display: none;
      //   }
      // }
      .product-image {
        text-align: center;
        margin-bottom: $size-6;
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
        }
        img {
          //max-height: $size-15;
          //width: auto;
          width: 100%;
          height: auto;
          margin: $size-7 0;
          @include for-size(tablet-portrait-up) {
            //max-height: $size-14;
            margin-top: 0;
            //max-width: $size-12;
            //margin-bottom: inherit;
            margin-bottom: $size-4;
            //padding: 0 $size-5;
          }
        }
      }
      .product-content {
        margin-bottom: $size-6;
        grid-row-start: 1;
        @include for-size(tablet-portrait-up) {
          margin-bottom: $product-margin;
        }
        h4 {
          margin-bottom: $size-4;
        }
        .product-label {
          font-size: $haptik-3;
          //font-family: 'Haptik';
          font-weight: 300;
          display: block;
          padding-bottom: $size-1;
        }
        p {
          font-size: $haptik-3;
          margin-bottom: $size-3;
          &:last-of-type {
            margin-bottom: $size-5;
          }
        }
        .coach-note {
          margin: 0 0 $size-3 0;
          padding: $size-4 $size-5 $size-5 $size-5;
          font-size: $haptik-3;
          background-color: $haldi-yellow;
          text-align: center;
          @include for-size(tablet-portrait-up) {
            font-size: $haptik-3;
          }
          h3 {
            color: $haldi-white;
            font-size: $haptik-2;
            text-transform: uppercase;
            margin-bottom: $size--1;
          }
        }
        .cost-amount {
          display: flex;
          align-items: center;
          h5 {
            margin-right: $size-2;
            margin-bottom: 0px;
            display: inline-block;
          }
          h6 {
            font-size: $haptik-3;
            color: $haldi-gray;
            margin-bottom: 0px;
            margin-top: 3px;
            display: inline-block;
          }
        }
      }
      &:last-of-type .product-content{
        margin-bottom: 0px;
      }
      &:nth-of-type(odd) .product-content{
        grid-column: 1 / 13;
        @include for-size(tablet-portrait-up) {
          grid-column: 8 / 13;
        }
      }
      &:nth-of-type(even) .product-content{
        grid-column: 1 / 13;
        @include for-size(tablet-portrait-up) {
          //grid-column: 3 / 8;
          grid-column: 4 / 9;
        }
      }
      &:nth-of-type(odd) .product-image{
        grid-column: 1 / 13;
        @include for-size(tablet-portrait-up) {
          grid-column: 4 / 8;
          padding-right: $size-5;
          //grid-column: 3 / 8;
        }
      }
      &:nth-of-type(even) .product-image{
        grid-column: 1 / 13;
        @include for-size(tablet-portrait-up) {
          //grid-column: 8 / 13;
          grid-column: 9 / 13;
          padding-left: $size-5;
        }
      }
    }
  }
}

.recommended-routine {
  h2 {
    margin-bottom: $size-6;
  }
}
.wrapper-routine {
  .toggle-wrapper {
    margin-top: $size-4;
    //display: flex;
    display: inline-block;
    font-size: $haptik-3;
    font-family: "Haptik";
    border: 1px solid $haldi-black-20;
    border-radius: 8px;
    padding: $size-2;
    margin: auto;
    .toggle-inner-wrapper {
      display: flex;
      align-items: center;

    }
  }
  .routine-toggle {
    text-align: center;
    .routine-label-toggle {
      font-family: "Domaine";
      font-size: $domaine-4!important;
      cursor: pointer;
      display: inline-block;
      opacity: .5;
      -webkit-opacity: .5;
      padding: calc(#{$size-3} * .5);
      &:first-of-type:not(.inactive), &.active {
        opacity: 1;
        -webkit-opacity: 1;
      }
    }
  }
  &.dark .product {
    border-color: $haldi-white-20!important;
  }
  .routines-wrapper {
    margin: $size-5 0 $size-9 0;
    @include for-size(tablet-portrait-up) {
      margin: $size-6 0 $size-11 0;
    }
    .routine-wrapper {
      display: none;
      &:first-of-type:not(.inactive), &.active {
        display: block;
      }
      &:nth-of-type(3){
        margin-top: $size-6;
        @include for-size(tablet-portrait-up) {
          margin-top: $size-10;
        }
      }
      h3 {
        font-family: "Domaine";
        font-size: $domaine-4;
        margin: auto;
        display: block;
        text-align: center;
        margin-bottom: $size-6;
      }
      .routine-inner-wrapper {
      display: flex;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
        }
      }
      .product {
        text-align: center;
        font-size: $haptik-2;
        padding: $size-2;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $haldi-black-20;
        @include for-size(tablet-portrait-up) {
          display: block;
          width: $size-12;
          border-bottom: 0px;
        }
        .number {
          margin: $size-5 auto;
          order: 1;
          border-width: 2px;
          flex-shrink: 0;
          @include for-size(tablet-portrait-up) {
            order: inherit;
          }
        }
        img {
          max-width: $size-8;
          max-height: $size-8;
          order: 2;
          margin: $size-2 $size-6;
          @include for-size(tablet-portrait-up) {
            max-width: $size-11!important;
            max-height: $size-11;
            order: inherit;
            margin: auto;
          }
        }
        .title {
          padding: $size-2;
          top: calc(#{$size-6} + #{$size-2});
          font-weight: 300;
          position: absolute;
          right: $size-2;
          display: none;
          order: 3;
          flex-grow: 1;
          text-align: left;
          transform: none;
          @include for-size(tablet-portrait-up) {
            width: $size-11;
            right: auto;
            left: 0px;
            display: block;
            order: inherit;
            text-align: center;
            transform: translate(-40%,0);
          }
          &.outside {
            top: auto;
            right: auto;
            display: block;
            position: relative;
            font-size: $haptik-3;
            @include for-size(tablet-portrait-up) {
              display: none;
            }
          }
        }
      }
    }
  }
  &.dark {
    color: $haldi-white;
    background-color: $haldi-black;
    border-bottom: 2px solid $haldi-white-20;
    h3 {
      color: $haldi-white;
    }
    .number {
      border-color: $haldi-white;
    }
    .toggle-wrapper {
      border: 1px solid $haldi-gray!important;
    }
  }
}



// Side Navigation

.side-nav {
  position: fixed;
  top: $size-3;
  right: $size-3;
  z-index: 99;
  @include for-size(tablet-landscape-up) {
    left: $bodyMargin;
    top: $size-13;
    right: inherit;
  }
  .number {
    opacity: .4;
    -webkit-opacity: .4;
    float: left;
    margin-left: $size-2;
    @include for-size(tablet-landscape-up) {
      float: none;
      margin-left: 0;
    }
    &:hover, &.active {
      opacity: 1;
      -webkit-opacity: 1;
    }
    &:hover {
      @include for-size(tablet-landscape-up) {
        &::after  {
          content: attr(data-hover);
        }
        // &.routine::after {
        //   content: 'recommended routine';
        // }
        // &.products::after {
        //   content: 'recommended products';
        // }
        &::after {
          font-size: $haptik-3;
          font-family: "Haptik";
          font-weight: 800;
          text-transform: uppercase;
          position: absolute;
          left: $size-7;
        }
      }
    }
  }
}

.side-nav.light .number {
  @include for-size(tablet-landscape-up) {
    border-color: $haldi-white;
    color: $haldi-white;
    &::after {
      color: $haldi-white;
    }
  }
}

// referrals

.profile-preview, .popup-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  ///cursor: pointer;
  pointer-events: none;
  .preview-initials {
    flex-shrink: 0;
    font-size: $haptik-3;
    font-weight: 800;
    width: $size-6;
    height: $size-6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('../img/gradient-circle.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  span {
    font-size: $haptik-2;
    font-weight: 600;
    margin-top: 5px;
    position: relative;
  }
}
.popup-title {
  .preview-initials {
    display: none;
    @include for-size(tablet-portrait-up) {
      display: flex;
    }
  }
}
.referrals-shared-products .profile-preview .preview-popup span {
  margin: 0;
}
.wrapper-referrals {
  h2 {
    margin-bottom: $size-5;
  }
  h5 {
    font-family: 'Haptik';
    font-weight: 600;
    margin-left: $size-3;
  }
  .mobile-credit-desc {
    margin: $size-5 0;
    text-align: center;
    font-family: 'Domaine';
    font-size: $haptik-4;
    @include for-size(tablet-portrait-up) {
      display: none;
    }
  }
  .referrals-wrapper {
    margin: 0 -30px;
    @include for-size(tablet-portrait-up) {
      margin: 0 auto;
    }
    @include for-size(tablet-landscape-up) {
      width: 100%;
    }
  }
  .referrals {
    background-color: $haldi-blush;
    padding: $size-4 $size-4 $size-2;
    @include for-size(tablet-portrait-up) {
      border-bottom: 3px solid $haldi-black;
      font-size: 10%!important;
      padding: $size-5 $size-4 $size-6;
      //margin-bottom: $size-9;
    }
  }
  .referral-description {
    display: none;
    @include for-size(tablet-portrait-up) {
      display: flex;
      justify-content: space-between;
      position: absolute;
      font-family: 'Backlash';
      width: 190px;
      left: -180px;
      display: none;
    }
    @include for-size(tablet-landscape-up) {
      left: -200px;
    }
    div {
      width: 130px;
      flex-shrink: 0;
      height: auto;
      font-size: $haptik-7;
      line-height: .6em;
      font-weight: 500;
      text-align: center;
      transform: rotate(-10deg);
    }
    .referral-arrow {
      width: 40px;
      transform: rotate(10deg) translate(-10px, 10px);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .referrals-container {
    position: relative;
    margin: 0 -15px;
  }
  .referrals-container.active-referrals {
    margin: $size-3 -15px 0;
  }
  .referrals-header {
    .haldi-credit {
      margin: $size-2 0 $size-5;
      text-align: center;
      p {
        display: inline-block;
        text-align: center;
        font-family: 'Domaine';
        font-size: $haptik-4;
        padding-bottom: $size-2;
        position: relative;
        font-weight: 500;
        border-bottom: 5px solid $haldi-yellow;
      }
      sub {
        font-size: 1.3rem;
        font-family: 'Domaine';
        font-weight: 500;
        margin: $size-3 0;
        position: relative;
        display: inline-block;
      }
    }
  }
  .referrals-list-container {
    background-color: $haldi-blush;
    padding: $size-3 0;
    .referrals-list {
      display: flex;
      flex-wrap: wrap;
      .profile-preview {
        width: 20%;
        margin-bottom: 15px;
        @include for-size(tablet-portrait-up) {
          width: 10%!important;
        }
        .preview-initials {
          border: 3px solid $haldi-yellow;
          background-color: transparent;
          background-image: none;
          font-weight: 600;
        }
      }
    }
  }
  .referral-meter-container {
    .referral-meter {
      display: flex;
      flex-wrap: wrap;
      padding: $size-3 0 $size-1;
      .referral-placeholder-container {
        width: 20%;
        margin-bottom: $size-5;
        @include for-size(tablet-portrait-up) {
          width: 10%!important;
          margin-bottom: 0;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-weight: 600;
        }
      }
      .referral-placeholder {
        width: $size-6;
        height: $size-6;
        border: 3px solid $haldi-yellow;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $haptik-3;
        font-weight: 900;
        position: relative;
        .profile-preview {
          position: absolute;
          top: -3px;
          left: 0px;
          width: 100%;
          height: 100%;
          .preview-initials {
            background-color: $haldi-yellow;
            background-image: none;
            font-weight: 600;
          }
        }
        .meter-marker {
          display: none;
          @include for-size(tablet-portrait-up) {
            display: block;
            position: absolute;
            top: calc(100% + 80px );
            white-space: nowrap;
            text-align: center;
            &.marker-100 {
              left: calc(100% - 8px);
              //transform: translateX(-50%);
            }
            &::before {
              content: '';
              width: 3px;
              height: 22px;
              background-color: $haldi-black;
              position: absolute;
              left: calc(50% - 2px);
              top: -35px;
            }
            p {
              font-family: 'Domaine';
              font-size: $haptik-4;
              margin-bottom: $size-2;
            }
          }
        }
      }
    }
  }
  .referrals.hide-meter {
    padding-bottom: 0;
    .referral-placeholder-container {
      @include for-size(tablet-portrait-up) {
        margin-bottom: 40px;
      }
    }
    .referral-placeholder {
      .meter-marker {
        @include for-size(tablet-portrait-up) {
          display: none;
        }
      }
    }
  }
}
.referral-instructions {
  text-align: center;
  margin-top: $size-5;
  @include for-size(tablet-portrait-up) {
    padding: 0 $size-3;
    margin-top: calc( 2 * #{$size-8});
  }
  @include for-size(tablet-landscape-up) {
    //padding-left: 120px!important;
  }
  p {
    font-size: $haptik-4;
    margin-bottom: $size-3;
    text-align: center;
    font-weight: 500;
  }
  .discount-code {
    padding-top: $size-5;
    margin: 0 0 $size-9;
    display: block;
    p {
      font-family: "Domaine";
      font-size: $haptik-4;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      span {
        color: $haldi-yellow;
        text-transform: uppercase;
      }
    }
  }
  .sub-instructions {
    width: 80%;
    margin: 0 auto;
    position: relative;
    sub {
      font-size: $haptik-3;
    }
  }

  a {
    text-decoration: underline;
  }
}

.shared-products {
  display: none;
}
p.shared-products-label {
  text-transform:uppercase;
  font-weight: 600;
  margin: 15px 0 0;
  text-align: left;
}
p.shared-products-sub-label {
  text-align: left;
  margin: 5px 0 15px;
}
.referrals-shared-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px 40px;
  .profile-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 15px;
    position: relative;
    span {
      display: none;
    }
  }
}

.preview-popup {
  display: none;
}
.referrals-shared-products {
  .profile-preview {
    .preview-popup {
      position: absolute;
      top: auto;
      top: calc(100% + 10px);
      left: -5px;
      background-color: $haldi-gray;
      padding: 2px 3px;
      pointer-events: none;
      span {
        display: block;
        color: white;
        //white-space: nowrap;
        font-size: 1.1em;
      }
    }
  }
}

.referrals-shared-products {
  .profile-preview:hover {
    .preview-popup {
      display: block;
    }
  }
}

.referral-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  z-index: 99;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  .slide-container {
    position: relative;
    padding: 0 $size-6;
  }
  .slide-arrow {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image:url('../img/nav-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    &.arrow-prev {
      left: calc(#{$size-3} * -1);
      transform: translateY(-50%) scale(-1, 1);
    }
    &.arrow-next {
      right: calc(#{$size-3} * -1);
    }
  }
  .referral-popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .referral-popup-container {
      background-color: white;
      border: 2px solid $haldi-black;
      padding: $size-7;
      height: 80vh;
      max-height: 650px;
      width: 90vw;
      max-width: 1150px;
      position: relative;
      .popup-title {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        .preview-initials {
          margin-right: $size-3;
        }
      }
      .referral-popup-close {
        position: absolute;
        top: $size-3;
        right: $size-3;
        width: 25px;
        height: 25px;
        background-image: url('../img/close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        @include for-size(tablet-portrait-up) {
          top: $size-6;
          right: $size-6;
          width: 40px;
          height: 40px;
        }
      }
      .referral-popup-content {
        height: 100%;
        .loading {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          img {
            flex-shrink: 0;
            width: 130px;
            height: 130px;
          }
        }
        h3 {
          font-size: $haptik-5;
          font-weight: 300;
          font-family: "Domaine";
          text-align: center;
        }
        .users-recommended-products {
          margin: $size-7 calc(#{$size-1} * -1);
          .user-product {
            width: 170px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            text-align: center;
            position: relative;
            @include for-size(tablet-portrait-up) {
              padding: 0 15px;
            }
            &:focus {
              outline: none;
            }
            &.shared-product::after {
              content: '';
              width: 100%;
              height: 8px;
              position: relative;
              margin-top: 15px;
              background-image: url('../img/underline.svg');
              background-repeat: no-repeat;
              background-size: auto;
              background-position: center center;

            }
            @include for-size(tablet-portrait-up) {
              margin: 0 $size-2;
            }
            p {
              font-size: 14px;
            }
            .product-image {
              width: 100%;
              height: auto;
              flex-shrink: 0;
              margin-top: $size-2;
              position: relative;
              img {
                width: 100%;
                height: auto;
              }
            }
            .product-info {
              width: 100%;
              margin-top: $size-2;
              .product-label {
                // font-size: $haptik-2;
                margin-bottom: 0;
              }
              h6 {
                font-size: $haptik-3;
                margin: $size--1 0;
                line-height: $size-3;
              }
              p {
                margin-bottom: 6px;
              }
              .product-cost {
                font-family: 'Domaine';
                font-weight: 600;
                font-size: $haptik-2;
              }
            }
          }
        }
      }
    }
  }
  .popup-key {
    position: absolute;
    bottom: $size-3;
    left: $size-3;
    span {
      position: relative;
      font-size: 14px;
    }
    span::after {
      content: '';
      width: 100%;
      height: 8px;
      position: absolute;
      bottom: -8px;
      left: 0%;
      width: 100%;
      height: 4px;
      background-image: url('../img/underline.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
    }
  }
}

// Footer

.slogan {
  text-align: center;
  grid-column: 1 / 13;
  font-size: $haptik-4;
  margin-top: $size-8;
}

footer {
  margin-top: $size-8;
  position: relative;
  @include for-size(tablet-landscape-up) {
    padding: 0 #{$bodyMargin}!important;
    .content-inner {
      padding: 0;
      max-width: 100%;
    }
  }
  .footer-content {
    padding: $size-6 0 0;
    border-top: 2px solid $haldi-black;
    display: flex!important;
    justify-content: space-between;
  }
  img {
    height: $size-7;
    width: auto;
    //float: left;
  }
  p {
    font-size: $haptik-3;
    font-family: "Haptik";
    font-weight: 400;
  }
  .social-links {
    //float: right;
    a {
      display: inline-block;
      margin-left: $size-2;
      svg {
        height: $size-7;
        width: auto;
      }
    }
  }
}
